@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Rollbard</h1>

Welcome to Rollbard, a site dedicated to building the resources you need for writing and worldbuilding in speculative fiction. Whether you're looking for ideas for your sci-fi novel, building levels for your science-fantasy video game, or coming up with scenarios in your fantasy tabletop RPG, Rollbard has the tools you need
